.eachQuestion{
    background: #80808038;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 15px;
}
.questionText {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
} 
.answerButtons {
    display: flex;
    gap: .7rem;
}
.giveAnswer {
    display: flex;
    flex-direction: column;
}

.detail{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    overflow-x: auto;
    max-width: 100%;

}
.detail>div{
    display: flex;
    gap: 10px;
}

.detail>div:hover{
    cursor: pointer;
}
.answerInput{
    height: 10rem;
    width: 30rem;
    padding: .5rem;
    border-Radius: 1rem;
}
.answerbutton{
    margin-Left: 27rem;
     margin-Top:1rem ;
    padding: .3rem;
}
@media  screen and (max-width: 600px){
    .answerInput{
        height: 10rem;
        width: 15rem;
        padding: .5rem;
        border-Radius: 1rem;
    }
    .answerbutton{
        margin-Left: 13rem;
        margin-Top:1rem ;
        padding: .3rem;
    }
  }