.navBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: .7rem;
    position: sticky;

  /* height: 70px;
  width: 100vw;
  padding: 0 30px;
  background-color: var(--background-color1);
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: -1rem; */
}
